@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');


html,
body {
    overflow-x: hidden;

}

body {
    background-color: ghostwhite;
    font-family: 'Space Grotesk', sans-serif;
    color: #18453B;
    margin: 0;
    width: 100vw;
    position: relative;
}

a {
    color: #18453B;
}

a:hover {
    color: #18453B;
    background-color: darkorange;
    font-style: italic;
}

p {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2rem;
}

p.home {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2rem;
    font-style: italic;
}


h1 {
    margin: 24px 0 0 0;
    font-size: 3rem;
    font-family: 'Space Grotesk';
}

h2 {
    margin: 24px 0 0 0;
    font-size: 2rem;
    font-family: 'Space Grotesk';
}

#header {
    width: 80vw;
    margin: 2vw 2vw;
}

.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}