@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');


html,
body {
    overflow-x: hidden;

}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: #00AF66;
    margin: 0;
    width: 100vw;
    position: relative;
    font-weight: 500;
    line-height: 1.2;
}

a {
    color: #00AF66;
    text-decoration: underline;
}

a:hover {
    color: #1C4220;
    font-style: italic;
    text-decoration: underline;
}

p {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2rem;
}

p.home {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2rem;
    font-style: italic;
}


h1 {
    margin: 24px 0 0 0;
    font-size: 3rem;
    font-family: 'Roboto';
}

h2 {
    margin: 24px 0 0 0;
    font-size: 2.5rem;
    font-family: 'Roboto';
}

#header {
    width: 80vw;
    margin: 2vw 2vw;
}

.footer {
    width: 80vw;
    position: fixed;
    bottom: 0;
    margin: 2vw 2vw;
    padding: 3px;
    color: white;
    text-align: left;
}

svg {
  width: 70px;
  height: 70px;
  fill: #00AF66;
}

svg:hover {
  fill: #1C4220;
}

.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}